@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 100% 68%;
    --foreground: 0 0% 20%;

    --card: 30 25% 60%;
    --card-foreground: 0 0% 100%;

    --popover: 26 17% 27%;
    --popover-foreground: 0 0% 100%;

    --primary: 123 38% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 13% 38%;
    --secondary-foreground: 0 0% 100%;

    --muted: 30 17% 48%;
    --muted-foreground: 0 0% 80%;

    --accent: 123 38% 57%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 40%;
    --input: 0 0% 30%;
    --ring: 123 38% 57%;

    --radius: 0rem;

    --sidebar-background: 26 17% 27%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 123 38% 57%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 30 25% 60%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 40%;
    --sidebar-ring: 123 38% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground overflow-hidden;
    font-family: "Press Start 2P", cursive;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }

  canvas {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
}
